<?xml version="1.0" encoding="utf-8"?>
<opbm>
<!-- End use for this file: To differentiate platforms -->
	<settings>
		<benchmarks>
			<debugger>no</debugger>
			<singlestep>no</singlestep>
			<hud>
				<visible>yes</visible>
				<translucency>0.5</translucency>
			</hud>d
		</benchmarks>
		<skin>simple</skin>		<!-- options are "simple" or "developer" -->
	</settings>
</opbm>
